body {
    background-color: #292929;
    color: white;
    margin: 0px;
    font-family: monospace;
}

#controls {
    margin: 10px;
}

code {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    background-color: black;
    color: lightseagreen;
    border-radius: 4px;
    font-weight: bold;
}
